.PriceSlider {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.PriceSlider p {
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    color: #333;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.Range{
    display: block;
    position: relative;
    padding-top: 25px;
}

.Range .Min{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}
.Range .Max{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}